<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a href="#" class="navbar-brand">{{ 'home-page.site-name' | translate }}</a>
  </div>

  <span class="form-inline">
    <select
      #selectedLanguage
      class="form-control"
      (change)="switchLanguage(selectedLanguage.value)"
    >
      <option
        *ngFor="let language of translate.getLangs()"
        [value]="language"
        [selected]="language === translate.currentLang"
      >{{ language }}</option>
    </select>
  </span>
</nav>
